:root {
  padding: 0px;
  margin: 0px;

  --blue-color: #1c4672;
  --dark-blue-color: #0c2a49;
  --grey-color: #d8d6dd;
  --light-blue-color: #397aa0;
}

body {
  max-width: 800px;
  margin: auto;
  font-family: "Merriweather", serif;
  font-weight: 300;
  font-size: 14px;
}

header {
  background-color: var(--blue-color);
  color: white;
  height: 100px;
}

main {
  background-color: var(--grey-color);
  color: var(--blue-color);
}

main div {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 5px solid white;
}

h1 {
  height: 100px;
  line-height: 100px;
  white-space: nowrap;
  margin: 20px;
  font-family: "Merriweather", serif;
  font-weight: bold;
}

h2 {
  color: var(--dark-blue-color);
  margin: 2px;
  padding-left: 32px;
  font-family: "Merriweather", serif;
}

.self p {
  padding-left: 20px;
  padding-right: 20px;
}

.skills h2,
.languages h2,
.education h2 {
  padding-top: 7px;
}

pre {
  width: 400px;
  padding: 30px;
  border: 2px dotted white;
  margin-left: 20px;
  padding-right: 40px;
}

li {
  list-style-type: square;
}
.contacts {
  padding-bottom: 15px;

  margin-bottom: 15px;
  font-size: small;
}
.contacts > h2 {
  padding-top: 5px;
  padding-left: 45px;
  height: 14px;
  font-size: 18px;
}
.contacts li {
  list-style-type: none;
}

.foto {
  width: 150px;
  float: left;
  margin: 20px;
  border: 5px solid white;
}
.projects {
  border: none;
}

.rsschool {
  width: 50px;
  border-left: 2px solid var(--light-blue-color);
  padding-left: 5px;
  padding-top: 10px;
}

footer {
  padding: 20px;
  background-color: var(--blue-color);
  color: white;
  height: 60px;
}
nav #mygithub {
  float: left;
  padding-left: 30px;
}
nav > * {
  display: block;
  margin: auto;
  float: right;
  padding-top: 22px;
}

main a {
  color: var(--dark-blue-color);
  font-family: "Merriweather", serif;
}
main a:hover {
  color: var(--light-blue-color);
}
footer a {
  color: var(--light-blue-color);
}

footer a:hover {
  color: white;
}
a:active {
  color: white;
}
footer span {
  color: var(--light-blue-color);
  font-size: 14px;
  padding-right: 5px;

  padding-top: 20px;
}
